@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

*{
    @include setMrPd();
}

.homeContent{
    &Wrapper{
        // min-height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // width: 100vw;
    }
    h1 {
        font-size: 20pt;
        color: $contentExtraTxtColor;
        font-weight: normal;
    }
}

.homeHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 15px 10px 15px;
}
.homeDescription{
    display: flex;
    justify-content: center;
    font-size: 16pt;
    color: $contentMainTxtColor;
    font-weight: normal;
    margin: 20px 15px 10px 15px;
    &NavBtn{
        text-decoration: none;
        font-size: 16pt;
        color: $contentMainTxtColor;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 426px) {
    .homeContent{
        h1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 18pt;
        }
    }
    .homeDescription{
        flex-wrap: wrap;
        font-size: 14pt;
        &NavBtn{
            font-size: 14pt;
        }
    }
    
}