* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.superstyle::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

.superstyle::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.contentWrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.content h1 {
  font-size: 18pt;
  color: #B9B9B9;
  font-weight: normal; }
.content h2 {
  margin-bottom: 10px;
  font-size: 16pt;
  color: #6D727D;
  font-weight: normal; }
.content select {
  position: relative;
  display: inline-block;
  border: none;
  background-color: rgba(109, 114, 125, 0.25);
  outline: none;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  overflow: hidden;
  cursor: pointer; }
.content option {
  color: #6D727D;
  outline: none; }
.content input {
  color: #6D727D;
  background-color: transparent;
  outline: none; }

.hidden {
  visibility: hidden; }

.header {
  display: flex;
  margin: 10px 15px 10px 15px; }

.role {
  color: #B9B9B9;
  border-radius: 5px;
  margin: 6px 15px 0 15px;
  height: 25px;
  font-size: 14pt;
  width: 150px;
  padding-right: 5px;
  background: url("../../../public/Resource/arrow-down.png") no-repeat right;
  background-size: 15px;
  background-origin: content-box; }

.modeUpdateContainer {
  display: inline-flex;
  justify-content: space-between;
  width: 100vw; }

.contentContainer {
  margin: 10px 0px 10px 30px; }

.area {
  margin-right: 30px;
  border-radius: 10px;
  color: #6D727D;
  background-color: transparent;
  background-color: rgba(109, 114, 125, 0.25);
  outline: none; }

.mode {
  width: 45vw; }
  .modeSelector {
    color: #6D727D;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    padding-right: 10px;
    background: url("../../../public/Resource/arrow-down.png") no-repeat right;
    background-size: 25px;
    background-origin: content-box; }

.update {
  width: 45vw;
  margin-left: 0px; }
  .updateContent {
    display: inline-flex;
    justify-content: space-between;
    width: 100%; }
  .updateTime {
    background-color: rgba(109, 114, 125, 0.25);
    border: 2px solid;
    border-color: #1C6866;
    margin-right: 20px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    cursor: text; }
  .updateDay {
    color: #6D727D;
    margin-right: 30px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    padding-right: 10px;
    background: url("../../../public/Resource/arrow-down.png") no-repeat right;
    background-size: 25px;
    background-origin: content-box; }

.operatorsArea {
  height: 130px; }
.operatorsSearch {
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 5px;
  height: 30px;
  font-size: 12pt;
  width: 195px;
  border: 2px solid;
  border-color: #1C6866;
  padding-left: 10px; }
.operatorsList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  outline: none;
  margin: 5px 20px 10px 20px; }
.operatorsCarousel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-y: scroll; }
  .operatorsCarousel::-webkit-scrollbar {
    width: 0px;
    height: 5px; }
  .operatorsCarousel::-webkit-scrollbar-track {
    background: transparent; }
  .operatorsCarousel::-webkit-scrollbar-thumb {
    background: #1C6866;
    border-radius: 5px; }
  .operatorsCarouselBtn {
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #1C6866; }
    .operatorsCarouselBtnImg {
      margin-bottom: 5px;
      cursor: pointer;
      width: 25px;
      height: 50px; }
.operatorsElem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid;
  border-color: #1C6866;
  border-radius: 10px;
  min-height: 80px;
  min-width: 80px;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 2.5px;
  cursor: pointer; }
  .operatorsElem:hover {
    background-color: rgba(109, 114, 125, 0.5);
    color: #B9B9B9; }
  .operatorsElem:last-child {
    margin-right: 0px; }
.operatorsImg {
  height: 78px;
  width: 78px;
  position: absolute;
  top: 0;
  left: 0; }
.operatorsAccess {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 42px;
  left: 21.5px; }
.operatorsAllNoneContainer {
  display: flex;
  position: relative;
  height: 80px;
  width: 80px;
  margin-right: 0; }
  .operatorsAllNoneContainer:hover {
    background-color: transparent;
    color: #6D727D; }
.operatorsAllNone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold; }
  .operatorsAllNone div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 2.5px; }
  .operatorsAllNone:hover {
    background-color: rgba(109, 114, 125, 0.5);
    color: #B9B9B9; }
  .operatorsAllNone:focus {
    background-color: rgba(109, 114, 125, 0.5);
    color: #B9B9B9; }

.formula {
  display: flex;
  flex-direction: column; }
  .formulaArea {
    height: 160px; }
  .formulaInputContainer {
    display: flex;
    justify-content: space-between; }
    .formulaInputContainer select {
      background-color: rgba(109, 114, 125, 0);
      border: 2px solid;
      border-color: #1C6866; }
  .formulaText {
    border: none;
    margin-top: 2.5px;
    height: 30px;
    font-size: 14pt;
    width: 70%;
    padding-left: 20px;
    border-bottom: 2px solid;
    border-color: #1C6866; }
  .formulaPreset {
    color: #6D727D;
    border-radius: 5px;
    margin: 5px 5px 0 5px;
    height: 27.5px;
    font-size: 14pt;
    width: 30%;
    padding-right: 5px;
    background: url("../../../public/Resource/arrow-down.png") no-repeat right;
    background-size: 15px;
    background-origin: content-box; }
    .formulaPresetBtnContainer {
      display: flex;
      position: relative;
      width: 27.5px;
      height: 27.5px;
      margin: 5px 0 0 5px; }
    .formulaPresetBtn {
      background-color: transparent;
      border: none;
      border-radius: 5px;
      color: #B9B9B9;
      font-size: 14pt; }
      .formulaPresetBtnSave {
        position: absolute; }
        .formulaPresetBtnSaveImg {
          cursor: pointer;
          width: 100%;
          height: 100%; }
          .formulaPresetBtnSaveImg:hover {
            content: url(../../../public/Resource/save-active.png); }
      .formulaPresetBtnDelete {
        position: absolute; }
        .formulaPresetBtnDeleteImg {
          cursor: pointer;
          width: 100%;
          height: 100%; }
          .formulaPresetBtnDeleteImg:hover {
            content: url(../../../public/Resource/delete-active.png); }
  .formulaBtnContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 5px 5px 5px;
    background-color: rgba(109, 114, 125, 0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 110px;
    overflow: scroll; }
    .formulaBtnContainer::-webkit-scrollbar {
      width: 10px;
      height: 0px; }
    .formulaBtnContainer::-webkit-scrollbar-track {
      background: transparent; }
    .formulaBtnContainer::-webkit-scrollbar-thumb {
      background: #1C6866;
      border-radius: 5px; }
    .formulaBtnContainer::-webkit-scrollbar-button:single-button {
      background-color: transparent;
      display: block;
      border-style: solid;
      height: 7px;
      width: 10px; }
    .formulaBtnContainer::-webkit-scrollbar-button:single-button:vertical:decrement {
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent #1C6866 transparent; }
    .formulaBtnContainer::-webkit-scrollbar-button:single-button:vertical:increment {
      border-width: 5px 5px 0 5px;
      border-color: #1C6866 transparent transparent transparent; }
  .formulaBtnWrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    border-color: #1C6866;
    height: 55px;
    min-width: 100px;
    width: auto; }
  .formulaBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #B9B9B9;
    font-size: 14pt;
    width: 100%;
    height: 100%; }
    .formulaBtn:hover {
      background-color: rgba(109, 114, 125, 0.5); }

.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 120px; }

.btnWrapper {
  display: inline-flex;
  border: 2px solid;
  border-color: #1C6866;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  margin: 5px 10px 5px 10px;
  background-color: rgba(28, 104, 102, 0.8); }

.btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #B9B9B9;
  font-size: 14pt;
  width: 100%;
  height: 100%; }
  .btn:hover {
    background-color: rgba(109, 114, 125, 0.5); }
  .btn:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    color: #868686;
    cursor: default; }

/*# sourceMappingURL=damage.css.map */
