* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.superstyle::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

.superstyle::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.contentWrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.content h1 {
  font-size: 18pt;
  color: #B9B9B9;
  font-weight: normal; }
.content h2 {
  margin-bottom: 10px;
  font-size: 16pt;
  color: #6D727D;
  font-weight: normal; }
.content select {
  position: relative;
  display: inline-block;
  border: none;
  background-color: rgba(109, 114, 125, 0.25);
  outline: none;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  overflow: hidden;
  cursor: pointer; }
.content option {
  color: #6D727D;
  outline: none; }
.content input {
  color: #6D727D;
  background-color: transparent;
  outline: none; }

.header {
  display: flex;
  margin: 10px 15px 10px 15px; }

.role {
  color: #B9B9B9;
  border-radius: 5px;
  margin: 6px 15px 0 15px;
  height: 25px;
  font-size: 14pt;
  width: 150px;
  padding-right: 5px;
  background: url("../../Resource/arrow-down.png") no-repeat right;
  background-size: 15px;
  background-origin: content-box; }

.modeUpdateContainer {
  display: inline-flex;
  justify-content: space-between;
  width: 100vw; }

.contentContainer {
  margin: 10px 0px 10px 30px; }

.area {
  margin-right: 30px;
  border-radius: 10px;
  color: #6D727D;
  background-color: transparent;
  background-color: rgba(109, 114, 125, 0.25);
  outline: none; }

.mode {
  width: 45vw; }
  .modeSelector {
    color: #6D727D;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    padding-right: 10px;
    background: url("../../Resource/arrow-down.png") no-repeat right;
    background-size: 25px;
    background-origin: content-box; }

.update {
  width: 45vw;
  margin-left: 0px; }
  .updateContent {
    display: inline-flex;
    justify-content: space-between;
    width: 100%; }
  .updateTime {
    background-color: rgba(109, 114, 125, 0.25);
    border: 2px solid;
    border-color: #1C6866;
    margin-right: 20px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    cursor: text; }
  .updateDay {
    color: #6D727D;
    margin-right: 30px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    padding-right: 10px;
    background: url("../../Resource/arrow-down.png") no-repeat right;
    background-size: 25px;
    background-origin: content-box; }

.operatorsArea {
  height: 100px; }
.operatorsSearch {
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 5px;
  height: 20px;
  font-size: 10pt;
  width: 120px;
  border: 2px solid;
  border-color: #1C6866;
  padding-left: 10px; }
.operatorsList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  outline: none;
  margin: 5px 20px 10px 20px;
  height: 60px; }
.operatorsElem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid;
  border-color: #1C6866;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  overflow: hidden;
  margin-right: 15px;
  cursor: pointer; }
  .operatorsElem:hover {
    background-color: rgba(109, 114, 125, 0.5);
    color: #B9B9B9; }
  .operatorsElemHidden {
    visibility: hidden; }
.operatorsImg {
  height: 58px;
  width: 58px;
  position: absolute;
  top: 0;
  left: 0; }
.operatorsAccess {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 22px;
  left: 11.5px; }
.operatorsAllNoneContainer {
  display: flex;
  position: relative; }
  .operatorsAllNoneContainer:hover {
    background-color: transparent;
    color: #6D727D; }
.operatorsAllNone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold; }
  .operatorsAllNone div {
    margin-bottom: 2.5px; }
  .operatorsAllNone:hover {
    background-color: rgba(109, 114, 125, 0.5);
    color: #B9B9B9; }

.formula {
  display: flex;
  flex-direction: column; }
  .formulaArea {
    height: 120px; }
  .formulaInputContainer {
    display: flex; }
    .formulaInputContainer select {
      background-color: rgba(109, 114, 125, 0);
      border: 2px solid;
      border-color: #1C6866; }
  .formulaText {
    border: none;
    margin-top: 2.5px;
    height: 30px;
    font-size: 14pt;
    width: 70%;
    padding-left: 20px;
    border-bottom: 2px solid;
    border-color: #1C6866; }
  .formulaPreset {
    color: #6D727D;
    border-radius: 5px;
    margin: 5px 5px 0 10px;
    height: 27.5px;
    font-size: 14pt;
    width: 30%;
    padding-right: 5px;
    background: url("../../Resource/arrow-down.png") no-repeat right;
    background-size: 15px;
    background-origin: content-box; }
  .formulaBtnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 15px 5px 15px; }
  .formulaBtnWrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-basis: 0;
    border: 2px solid;
    border-color: #1C6866;
    border-radius: 5px;
    height: 30px;
    min-width: 150px;
    width: auto;
    margin: 10px 5px 0 5px; }
  .formulaBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #B9B9B9;
    font-size: 14pt;
    width: 100%;
    height: 100%; }
    .formulaBtn:hover {
      background-color: rgba(109, 114, 125, 0.5); }

.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 120px; }

.btnWrapper {
  display: inline-flex;
  border: 2px solid;
  border-color: #1C6866;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  margin: 5px 10px 5px 10px;
  background-color: rgba(28, 104, 102, 0.8); }

.btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #B9B9B9;
  font-size: 14pt;
  width: 100%;
  height: 100%; }
  .btn:hover {
    background-color: rgba(109, 114, 125, 0.5); }

/*# sourceMappingURL=damage.css.map */
