* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.superstyle::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

.superstyle::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.damage h1 {
  font-size: 18pt;
  color: #B9B9B9;
  font-weight: normal; }
.damage h2 {
  margin-bottom: 10px;
  font-size: 16pt;
  color: #6D727D;
  font-weight: normal; }
.damage select {
  position: relative;
  display: inline-block;
  border: 2px solid;
  border-color: #1C6866;
  color: #6D727D;
  background-color: transparent;
  outline: none;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  overflow: hidden;
  cursor: pointer; }
.damage option {
  color: #6D727D;
  outline: none; }
.damage input {
  color: #6D727D;
  background-color: transparent;
  outline: none; }

.header {
  margin: 10px 15px 10px 15px; }

.modeUpdateContainer {
  display: inline-flex;
  justify-content: space-between;
  width: 100vw; }

.contentContainer {
  margin: 10px 0px 10px 30px; }

.area {
  margin-right: 30px;
  border: 2px solid;
  border-color: #1C6866;
  border-radius: 10px;
  color: #6D727D;
  background-color: transparent;
  outline: none; }

.mode {
  width: 45vw; }
  .modeSelector {
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    padding-right: 10px;
    background: url("../../Resource/arrow-down.png") no-repeat right;
    background-size: 25px;
    background-origin: content-box; }

.update {
  width: 45vw;
  margin-left: 0px; }
  .updateContent {
    display: inline-flex;
    justify-content: space-between;
    width: 100%; }
  .updateTime {
    border: 2px solid;
    border-color: #1C6866;
    margin-right: 20px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    cursor: text; }
  .updateDay {
    margin-right: 30px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    padding-right: 10px;
    background: url("../../Resource/arrow-down.png") no-repeat right;
    background-size: 25px;
    background-origin: content-box; }

.operatorsArea {
  height: 100px; }
.operatorsTools {
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 5px;
  height: 20px;
  font-size: 10pt;
  width: 10%; }
.operatorsSearch {
  border: 2px solid;
  border-color: #1C6866;
  padding-left: 10px; }
.operatorsRole {
  padding-right: 5px;
  background: url("../../Resource/arrow-down.png") no-repeat right;
  background-size: 15px;
  background-origin: content-box; }
.operatorsList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  outline: none;
  margin: 5px 20px 10px 20px;
  height: 60px; }
.operatorsElem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid;
  border-color: #1C6866;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  overflow: hidden;
  margin-right: 15px;
  cursor: pointer; }
  .operatorsElem p {
    font-weight: bold; }
.operatorsImg {
  height: 58px;
  width: 58px;
  position: absolute;
  top: 0;
  left: 0; }
.operatorsAccess {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 22px;
  left: 11.5px; }
.operatorsNoAccess {
  visibility: hidden; }

.formula {
  display: flex;
  flex-direction: column; }
  .formulaArea {
    height: 120px; }
  .formulaText {
    border: none;
    border-bottom: 2px solid;
    border-color: #1C6866;
    margin-top: 2.5px;
    height: 30px;
    font-size: 14pt;
    width: 100%;
    padding-left: 20px; }
  .formulaBtnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 10px 5px 10px; }
  .formulaBtnWrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-basis: 0;
    border: 2px solid;
    border-color: #1C6866;
    border-radius: 5px;
    height: 35px;
    min-width: 150px;
    width: auto;
    margin: 5px 5px 0 5px; }
  .formulaBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #B9B9B9;
    font-size: 14pt;
    width: 100%;
    height: 100%; }
    .formulaBtn:hover {
      background-color: rgba(109, 114, 125, 0.5); }

.btnWrapper {
  display: inline-flex;
  border: 2px solid;
  border-color: #1C6866;
  border-radius: 10px;
  margin: 10px 10px 0 10px; }

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #B9B9B9;
  font-size: 16pt;
  padding: 10px 20px 10px 20px; }
  .btn:hover {
    background-color: rgba(109, 114, 125, 0.5); }

/*# sourceMappingURL=damage.css.map */
