@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

*{
    @include setMrPd();
}

.superstyle::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.superstyle::-webkit-datetime-edit-fields-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    &Wrapper{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h1 {
        font-size: 18pt;
        color: $contentExtraTxtColor;
        font-weight: normal;
    }
    h2 {
        margin-bottom: 10px;
        font-size: 16pt;
        color: $contentMainTxtColor;
        font-weight: normal;
    }
    select {
        position: relative;
        display: inline-block;
        border: none;
        background-color: rgba($contentMainBgColor, 0.25 );
        // border: 2px solid;
        // border-color: #1C6866;
        // background-color: transparent;
        outline: none;
        padding-left: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        overflow: hidden;
        cursor: pointer;
    }
    option {
        color: $contentMainTxtColor;
        outline: none;
    }
    input {
        color: $contentMainTxtColor;
        background-color: transparent;
        outline: none;
    }
}

.hidden{
    visibility: hidden;
    position: absolute;
}

.header{
    display: flex;
    margin: 10px 15px 10px 15px;
}

.role{
    color: $contentExtraTxtColor;
    border-radius: 5px;
    margin: 6px 15px 0 15px;
    height: 25px;
    font-size: 14pt;
    width: 150px;
    padding-right: 5px;
    background: url("../../../public/Resource/arrow-down.png") no-repeat right;
    background-size: 15px;
    background-origin: content-box;
}

.modeUpdateContainer{
    display: inline-flex;
    justify-content: space-between;
    width: 100vw;
}

.contentContainer{
    margin: 10px 0px 10px 30px;
}

.area{
    margin-right: 30px;
    // border: 2px solid;
    // border-color: #1C6866;
    border-radius: 10px;
    color: $contentMainTxtColor;
    background-color: transparent;
    background-color: rgba($contentMainBgColor, 0.25 );
    outline: none;
    
}

.mode{
    width: 45vw;
    
    &Selector{
        color: $contentMainTxtColor;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        font-size: 14pt;
        padding-right: 10px;
        background: url("../../../public/Resource/arrow-down.png") no-repeat right;
        background-size: 25px;
        background-origin: content-box;
    }
    &Option{
    }
}

.update{
    width: 45vw;
    margin-left: 0px;
    &Content{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
    &Time{
        background-color: rgba($contentMainBgColor, 0.25 );
        border: 2px solid;
        border-color: $contentAccentColor;
        margin-right: 20px;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        font-size: 14pt;
        cursor: text;
    }
    &Day{
        color: $contentMainTxtColor;
        margin-right: 30px;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        font-size: 14pt;
        padding-right: 10px;
        background: url("../../../public/Resource/arrow-down.png") no-repeat right;
        background-size: 25px;
        background-origin: content-box;
    }
}
.operators{

    &Area{
        height: 100px;
    }
    &Search{
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 5px;
        height: 20px;
        font-size: 10pt;
        width: 120px;
        border: 2px solid;
        border-color: $contentAccentColor;
        padding-left: 10px;
    }
    &List{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: transparent;
        outline: none;
        margin: 5px 20px 10px 20px;
        height: 60px;
    }
    &Elem{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 2px solid;
        border-color: $contentAccentColor;
        border-radius: 10px;
        height: 60px;
        width: 60px;
        overflow: hidden;
        margin-right: 15px;
        // margin: auto;
        cursor: pointer;
        &:hover{
            background-color: rgba($contentMainBgColor, 0.5);
            color: $contentExtraTxtColor;
        }
    }
    &Img{
        height: 58px;
        width: 58px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &Access{
        height: 35px;
        width: 35px;
        position: absolute;
        top: 22px;
        left: 11.5px;
    }
    &AllNoneContainer{
        display: flex;
        position: relative;
        &:hover{
            background-color: transparent;
            color: $contentMainTxtColor;
        }
    }
    &AllNone{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        font-weight: bold;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-bottom: 2.5px;
        }
        &:hover{
            background-color: rgba($contentMainBgColor, 0.5);
            color: $contentExtraTxtColor;
        }
        &:focus{
            background-color: rgba($contentMainBgColor, 0.5);
            color: $contentExtraTxtColor;
        }
    }
}
.formula{
    display: flex;
    flex-direction: column;

    &Area{
        height: 120px;
    }
    &InputContainer{
        display: flex;
        justify-content: space-between;
        select{
            background-color: rgba($contentMainBgColor, 0);
            border: 2px solid;
            border-color: $contentAccentColor;
        }
    }
    &Text{
        border: none;
        margin-top: 2.5px;
        height: 30px;
        font-size: 14pt;
        width: 70%;
        padding-left: 20px;
        border-bottom: 2px solid;
        border-color: $contentAccentColor;
    }
    &Preset{
        color: $contentMainTxtColor;
        border-radius: 5px;
        margin: 5px 5px 0 5px;
        height: 27.5px;
        font-size: 14pt;
        width: 30%;
        padding-right: 5px;
        background: url("../../../public/Resource/arrow-down.png") no-repeat right;
        background-size: 15px;
        background-origin: content-box;
        &BtnContainer{
            display: flex;
            width: 27.5px;
            height: 27.5px;
            margin: 5px 0 0 5px;
        }
        &Btn{
            background-color: transparent;
            border: none;
            border-radius: 5px;
            color: $contentExtraTxtColor;
            font-size: 14pt;
            // width: 27.5px;
            // height: 27.5px;
            // margin: 5px 0 0 5px;
            &Save{
                &Img{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    &:hover{
                    content: url(../../../public/Resource/save-active.png);
                    }
                }
                
            }
            &Delete{
                &Img{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    &:hover{
                        content: url(../../../public/Resource/delete-active.png);
                    }
                }
            }
        }
    }
    &BtnContainer{
        // border-top: 2px solid;
        // border-color: $contentAccentColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 15px 5px 15px;
    }
    &BtnWrapper{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-basis: 0;
        border: 2px solid;
        border-color: $contentAccentColor;
        border-radius: 5px;
        height: 30px;
        min-width: 150px;
        width: auto;
        margin: 10px 5px 0 5px;
    }

    &Btn{
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: $contentExtraTxtColor;
            font-size: 14pt;
            width: 100%;
            height: 100%;
            &:hover{
                background-color: rgba($contentMainBgColor, 0.5);
            }
    }
}

.btnContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.btnWrapper{
    display: inline-flex;
    border: 2px solid;
    border-color: $contentAccentColor;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    margin: 5px 10px 5px 10px;
    background-color: rgba($contentAccentColor, 0.8);
}

.btn{
        background-color: transparent;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: $contentExtraTxtColor;
        font-size: 14pt;
        width: 100%;
        height: 100%; 
        &:hover{
            background-color: rgba($contentMainBgColor, 0.5);
        }
}