*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.superstyle::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.superstyle::-webkit-datetime-edit-fields-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.damage{
    
    h1 {
        font-size: 18pt;
        color: #B9B9B9;
        font-weight: normal;
    }
    h2 {
        margin-bottom: 10px;
        font-size: 16pt;
        color: #6D727D;
        font-weight: normal;
    }
    select {
        position: relative;
        display: inline-block;
        border: 2px solid;
        border-color: #1C6866;
        color: #6D727D;
        background-color: transparent;
        outline: none;
        padding-left: 10px;

        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;

        overflow: hidden;
    }
    option {
        color: #6D727D;
        outline: none;
    }
    input {
        color: #6D727D;
        background-color: transparent;
        outline: none;
    }
    textarea {
        border: 2px solid;
        border-color: #1C6866;
        color: #6D727D;
        background-color: transparent;
        outline: none;
    }
}

.header{
    margin: 10px 15px 10px 15px;
}

.modeUpdateContainer{
    display: inline-flex;
    justify-content: space-between;
    width: 100vw;
}

.contentContainer{
    margin: 10px 0px 10px 30px;
}

.area{
    margin-right: 30px;
    border: 2px solid;
    border-color: #1C6866;
    border-radius: 10px;
    color: #6D727D;
    background-color: transparent;
    outline: none;
    
}

.mode{
    width: 45vw;
    
    &Selector{
        border-radius: 10px;
        width: 100%;
        height: 40px;
        font-size: 14pt;
        padding-right: 10px;
        background: url("../../Resource/arrow-down.png") no-repeat right;
        background-size: 25px;
        background-origin: content-box;
    }
    &Option{
    }
}

.update{
    width: 45vw;
    margin-left: 0px;
    &Content{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
    &Time{
        border: 2px solid;
        border-color: #1C6866;
        margin-right: 20px;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        font-size: 14pt;
    }
    &Day{
        margin-right: 30px;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        font-size: 14pt;
        padding-right: 10px;
        background: url("../../Resource/arrow-down.png") no-repeat right;
        background-size: 25px;
        background-origin: content-box;
    }
}
.operators{

    &Area{
        height: 100px;
    }
    &Tools{
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 5px;
        height: 20px;
        font-size: 10pt;
        width: 10%;
    }
    &Search{
        border: 2px solid;
        border-color: #1C6866;
        padding-left: 10px;
    }
    &Role{
        padding-right: 5px;
        background: url("../../Resource/arrow-down.png") no-repeat right;
        background-size: 15px;
        background-origin: content-box;
    }
    &List{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: transparent;
        outline: none;
        margin: 5px 20px 10px 20px;
        height: 60px;
    }
    &Elem{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-color: #1C6866;
        border-radius: 10px;
        height: 60px;
        width: 60px;
        overflow: hidden;
        margin-right: 15px;
        // margin: auto;
        p{
            font-weight: bold;
        }
    }
    &Img{
        height: 58px;
        width: 58px;
    }
}
.formula{
    display: flex;
    flex-direction: column;

    &Area{
        height: 120px;
    }
    &Text{
        border: none;
        border-bottom: 2px solid;
        border-color: #1C6866;
        margin-top: 2.5px;
        height: 30px;
        font-size: 14pt;
        width: 100%;
        padding-left: 20px;
    }
    &BtnContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 10px 5px 10px;
    }
    &BtnWrapper{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-basis: 0;
        border: 2px solid;
        border-color: #1C6866;
        border-radius: 5px;
        height: 35px;
        min-width: 150px;
        width: auto;
        margin: 5px 5px 0 5px;
    }

    &Btn{
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #B9B9B9;
            font-size: 14pt;
            width: 100%;
    }
}

.btnWrapper{
    display: inline-flex;
    border: 2px solid;
    border-color: #1C6866;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
}

.btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #B9B9B9;
        font-size: 16pt;
        padding: 10px 20px 10px 20px;
}