@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

*{
    @include setMrPd();
}

.socialContent{
    &Wrapper{
        // min-height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }
    h1 {
        font-size: 18pt;
        color: $contentExtraTxtColor;
        font-weight: normal;
    }
}

.socialHeader{
    display: flex;
    margin: 10px 15px 10px 15px;
}